---
layout: main
title: Novosti
---


<div class="tijelo">
	<div class="lijevo" id="posts">
		<h1>Novosti</h1>
		{% for post in paginator.posts %}
			<a id="post-title" href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		<div id="post-content">
			{{ post.content }}
		</div>
	{% endfor %}
	</div>

	<div class="desno" id="posts">
		<h1>Eseji</h1>
		{% for post in paginator.posts %}
			<a id="post-title" href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
		<div id="post-content">
			{{ post.content }}
		</div>
	{% endfor %}
	</div>
</div>
