@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'vars';
@import 'debugging';

.clearfix {
	@include clearfix;
}

body {
	background: url($background-image-location) repeat;


	.container {
		@include outer-container;

		.header {
			@include border-top-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			@include border-right-radius(5px);

			background-color: white;
			text-align: center;
			padding-top: 30px;

			.hero {
				@include outer-container;
				.right-pic {
					margin-top: 10px;
					@include span-columns(3);
				}
				.left-pic {
					margin-top: 10px;
					@include span-columns(3);
				}
				.titles { @include span-columns(6); }
			}

			.nav {
				list-style: none;
				font-size: large;
				li {
					display: inline;
				}
			}

		}

		.content {
			background-color: white;
			margin-top: 15px;
			padding: 15px 45px;

			@include border-top-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			@include border-right-radius(5px);

			.heading {
				text-align: center;
			}

			.tijelo {
				h1 { text-align: center; }

				@include outer-container;
				.lijevo {
					@include span-columns(6);
				}
				.desno {
					@include span-columns(6);
				}
			}

			.locations {
				@include outer-container;
				.right-pic {
					margin-top: 10px;
					@include span-columns(3);
				}
				.left-pic {
					margin-top: 10px;
					@include span-columns(3);
				}
				.titles { @include span-columns(6); }
			}


		}

		.footer {
			text-align: center;
		}
	}
}
