@import 'bourbon';
@import 'neat';

.clearfix {
	@include clearfix;
}

#utrina-vani img { width: 621px; }


body {
	background: image-url('chruch.png'), repeat;

	.container {
		@include outer-container;

		.header {
			@include border-top-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			@include border-right-radius(5px);

			background-color: white;
			text-align: center;
			padding-top: 30px;

			.hero {
				@include outer-container;
				.right-pic {
					margin-top: 10px;
					@include span-columns(3);
				}
				.left-pic {
					margin-top: 10px;
					@include span-columns(3);
				}
				.titles { @include span-columns(6); }
			}

			.nav {
				list-style: none;
				font-size: large;
				li { display: inline; }
			}

		}

		.content {
			background-color: white;
			margin-top: 15px;
			padding: 15px 45px;

			@include border-top-radius(5px);
			@include border-bottom-radius(5px);
			@include border-left-radius(5px);
			@include border-right-radius(5px);

			.naslov {
				text-align: center;
			}

			.centralno {
				text-align: center;
			}

			.tijelo {
				@include outer-container;
				text-align: justify;
				h1 { text-align: center; }

				.clanak {
					@include row();
					.nivo {
						@include row();
					}

					.lijevo { @include span-columns(6); }
					.desno { @include span-columns(6); }
				}

				.osoba {
					@include row();

					.opis {
						@include span-columns(6);
					}
					.slika {
						img { height: 250px; }
						@include span-columns(6);
						img { margin: 15px; } 
					}
				}
			}

		}

	}

	.footer {
		text-align: center;
	}
}
