<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title> {% if page.title %} {{ page.title }} | {% endif %} crokokuryu.org </title>

		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/res/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/res/css/app.css" />
	</head>

	<body>
		<div class="container">
			<div class="header row span12">
			</div>

			<div class="content row span12">
				<ul class="nav nav-tabs centered">
					<li><a href="/">Vijesti</a></li>
					<li><a href="/onama">O nama</a></li>
					<li><a href="/ovjestini">O vještini</a></li>
					<li><a href="/rijecnik">Riječnik</a></li>
					<li><a href="/etiketa">Etiketa</a></li>
					<li><a href="/multimedija">Multimedija</a></li>
					<li><a href="/kontakt">Kontakt</a></li>

				</ul>

				<div class="row">
					{{ content }}
				</div>
			<hr />
			</div>

			<div class="footer row span12 small">
				<small>CroKokuRyu.org | Sva prava pridžana, 2013</small>
			</div>
		</div>

		<script src="/res/js/jquery-1.9.1.min.js"></script>
		<script src="/res/bootstrap/js/bootstrap.js"></script>
	</body>
</html>
