<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title> {% if page.title %} {{ page.title }} | {% endif %} crokokuryu.org </title>

		{% stylesheet main %}
	</head>

	<body>
		<div class="container">

			<div class="header" id="topmenu">
				<div class="hero">
					<div class="left-pic" id="torii">{% image torii.png %}</div>
					<div class="titles">
						<h2>Škola borilačkih vještina</h2>
						<h1>Yawara Koku Ryu</h1>
					</div>
					<div class="right-pic" id="dragon">{% image dragon_logo.png %}</div>
				</div>


				<ul class="nav">
					<li><a href="/">Eseji</a></li> |
					{% comment %} <li><a href="/eseji">Eseji</a></li> | {% endcomment %}
					<li><a href="/onama">O nama</a></li> |
					<li><a href="/kurikulum">Čime se bavimo</a></li> |
					<li><a href="/povijest">Povijest</a></li> |
					{% comment %} <li><a href="/etiketa">Etiketa</a></li> | {% endcomment %}
					{% comment %} <li><a href="/multimedija">Multimedija</a></li> | {% endcomment %}
					<li><a href="/kontakt">Kontakt</a></li>
				</ul>

				<div class="clearfix"></div>
			</div>

			<div class="content">
				{{ content }}
			</div>
		</div>

		{% javascript main %}
	</body>
</html>
